In [1]:
%%HTML
<link rel="stylesheet" href="custom.css">

# Data ScienceのためのPython，その先へ
<hr> 

#### ゼロからのpandasの使い方とPysparkへの架け橋
株式会社ネットプロテクションズ
関西開発インターン生　上野孝斗

# 本日の内容
<hr>

- はじめに
- 自己紹介
- Pythonについて
- Pandasの実際
- Apache Sparkについて
- Pysparkについて
- Pysparkの実際
- PandasとPysparkの比較
- 参考

## はじめに
<hr>

- 本スライドの元となったipynbファイルや環境構築の方法は以下のリポジトリにまとめてあります

-

# 自己紹介
<hr>

- NPには6月からジョイン
- 担当業務はAFTEE
- 大学の専攻は強化学習の理論[1]
- 趣味は散歩，ゲーム，映画鑑賞


<div>
<div style="position:absolute; top:200px; left:1000px">
<img src = "pic1.jpg" width="175px">
</div>

# Pythonについて

## Pythonの概要
<hr>

- Python[2]は1990年代初期オランダで生まれたプログラミング言語
- その習得のしやすさから，入門用として使われる
- 一方，企業でもよく使われている

## Pythonの主な利用用途
<hr>

- データサイエンスおよび数値計算
- Webアプリケーション
- システム管理及びグルー用語
- 教育

PythonがGlue言語と言われる理由については以下の参考文献をチェック  
https://qiita.com/kawamou/items/05028c1a871d42119473

## フリートーク
<hr>

- お題：Pythonライブラリについて
- 知っているものでも，好きなものでも
- 実はR派...(ﾎﾞｿｯ)みたいなのも

## 有名なライブラリは数あれどやはり...
<hr>

- Pythonのライブラリといえばpandas!!(多分)
- ...pandasについて少し紹介します

進行上の都合になります

# pandasについて

## pandasの概要
<hr>

- pandas[3]はPythonのライブラリの一つ
- PythonでDataScienceするときはまずはとりあえずpandas
- `pandas.DataFrame`オブジェクトによって，データフレームを作ることができる

## 補足：データフレームについて
<hr>

- さまざまな種類のデータフレームが存在(dask,pandas,pickle,parquet...)する
- ざっくり言うと，データフレーム＝二次元の表形式のデータ
- 言い換えると，テーブルデータ，ラベル付き二次元配列

## データフレームをpandasで作成
<hr>

- pandasでデータフレームを作成する
- 10 minutes to pandas[4]より

In [2]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

dates = pd.date_range("20130101", periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.816949  0.667117  0.651120 -0.477194
2013-01-02 -1.293319 -1.653912  0.116168  0.531565
2013-01-03 -1.800602  0.703103 -0.546573 -1.144586
2013-01-04  0.005940  0.302209  0.986788  0.919477
2013-01-05  1.916279  0.932092 -1.393374 -1.680213
2013-01-06 -0.289524  0.594429 -0.425827  0.915252

# pandasでできること

## 抽出（WHERE）
<hr>

- [6]を全体的に参考にした
- まずはデータを作る

In [3]:
pdf = pd.DataFrame({
    'student': ['Larissa', 'Jaylan', 'Golda', 'Myriam', 'Fabiola', 'Abigail', 'Hardy', 'Jeromy'],
    'class': list('ABAACCBC'),
    'score': [50, 69, 68, 70, 82, 57, 88, 93],
})
pdf

   student class  score
0  Larissa     A     50
1   Jaylan     B     69
2    Golda     A     68
3   Myriam     A     70
4  Fabiola     C     82
5  Abigail     C     57
6    Hardy     B     88
7   Jeromy     C     93

- このデータからA組のテスト結果の点数と生徒の名前を抽出する．もしSQLでやるならこのようになる．

```
SELECT id, student, class
FROM test_result
WHERE class == 'A'
```
- pandasを使った場合は以下のように書ける

In [4]:
pdf.loc[pdf['class'] == 'A', ['student', 'score']]

   student  score
0  Larissa     50
2    Golda     68
3   Myriam     70

pandasでは，`Dataframe.loc`で行について操作することができるようになる

## 複数の条件で抽出
<hr>

- 複数の条件を抽出したいときは`&`や`|`を用いる．`and`や`or`ではエラーが出るので注意
- boolean型でも抽出ができる
- 「C組のうち、80点以上の生徒」という複数の条件で抽出する

In [5]:
pdf.loc[(pdf['class'] == 'C') & (pdf['score'] >= 80)]

   student class  score
4  Fabiola     C     82
7   Jeromy     C     93

## 結合
<hr>

- `student`，`attendance`と二つのテーブルを用意する

In [6]:
# [7]を参考
from IPython.display import HTML
from jinja2 import Template

student = pd.DataFrame({
    'name': ['Larissa', 'Jaylan', 'Golda', 'Myriam', 'Fabiola', 'Abigail', 'Bernice', 'Hardy', 'Jeromy'],
    'class': list('ABAACCBBC'),
}, index=['A1', 'B1', 'A2', 'A3', 'C1', 'C2', 'B2', 'B3', 'C4'])

attendance = pd.DataFrame({
    'student_id': ['C2', 'C1', 'C4', 'A1', 'C2', 'B2', 'A1', 'B1', 'B3'],
    'subject': ['History', 'Japanese', 'English', 'math', 'math', 'History', 'math', 'math', 'History'],
})

html_tpl = """
<table>
  <tr>
    <td>{{ student }}</td>
    <td>{{ attendance }}</td>
  </tr>
</table>
"""

In [7]:
tpl = Template(html_tpl)
html_text = tpl.render({"attendance": attendance.to_html(), "student": student.to_html()})

HTML(html_text)

- `INNER JOIN`はSQLだと以下のようになる
```
SELECT *
FROM attendance INNER JOIN student
  ON attendance.student_id = student.id
```
- pandasではこのようになる

In [8]:
pd.merge(attendance, student, left_on='student_id', right_index=True)

  student_id   subject     name class
0         C2   History  Abigail     C
4         C2      math  Abigail     C
1         C1  Japanese  Fabiola     C
2         C4   English   Jeromy     C
3         A1      math  Larissa     A
6         A1      math  Larissa     A
5         B2   History  Bernice     B
7         B1      math   Jaylan     B
8         B3   History    Hardy     B

- 続いて`LEFT JOIN`をやってみる
- 「B組の生徒について、歴史（History）への出席情報」を取得する
- SQLでは以下のようになる

```
SELECT *
FROM student LEFT JOIN attendance
  ON student.id = attendance.student_id
WHERE student.class = 'B' AND attendance.subject = 'History'
```

- pandasでは次のようにする

In [9]:
# 各DataFrameからB組、およびHistoryの出席情報をそれぞれ抽出
b_student = student.loc[student['class'] == 'B']
history_attendance = attendance.loc[attendance['subject'] == 'History']

# LEFT JOINを実行
pd.merge(
    b_student,
    history_attendance,
    left_index=True,
    right_on='student_id',
    how='left',
)

        name class student_id  subject
NaN   Jaylan     B         B1      NaN
5.0  Bernice     B         B2  History
8.0    Hardy     B         B3  History

- `pd.merge()`では．結合に使う列名を指定できる
- 列名の左右について注意が必要
![](pic2.png)

## 集約（GROUP BY）
<hr>

以下のような`test_result`テーブルを例にする

In [10]:
test_result = pd.DataFrame({
    'name': np.sort(['Larissa', 'Jaylan', 'Golda', 'Myriam', 'Fabiola', 'Abigail', 'Bernice', 'Hardy', 'Jeromy'] * 2),
    'class': np.sort(list('AABBCC') * 3),
    'subject': ['math', 'English'] * 9,
    'score': [50, 72, 96, 74, 66, 65, 51, 65, 85, 69, 53, 76, 44, 77, 56, 56, 52, 68],
})

- 集約関数が一つのとき
- 例えば，「クラスごと，教科ごとの平均点」を求めてみる
- SQLでは以下のようになる

```
SELECT class, subject, avg(score)
FROM test_result
GROUP BY class, subject
```

In [11]:
test_result.groupby(['class', 'subject']).mean()

/var/folders/nr/8kygzlbx7djc1yh15qnzhhgr0000gn/T/ipykernel_68505/2146501525.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  test_result.groupby(['class', 'subject']).mean()

                   score
class subject
A     English  70.333333
      math     70.666667
B     English  70.000000
      math     63.000000
C     English  67.000000
      math     50.666667

- 集約関数が複数ある場合
- 平均だけでなく，最大点も表示したいときがある
- その場合は`DataFrameGroupBy`オブジェクトの`agg()`メソッドを使うことによって実現できる

In [12]:
grouped = test_result.groupby(['class', 'subject'])
grouped.agg(['mean', 'max'])

/var/folders/nr/8kygzlbx7djc1yh15qnzhhgr0000gn/T/ipykernel_68505/3838957712.py:2: FutureWarning: ['name'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  grouped.agg(['mean', 'max'])

                   score
                    mean max
class subject
A     English  70.333333  74
      math     70.666667  96
B     English  70.000000  76
      math     63.000000  85
C     English  67.000000  77
      math     50.666667  56

## pandasの課題点
<hr>

- pandasはものすごく便利だけど
- ビッグデータではメモリエラーが出る／処理が遅い
- 文法がわかりにくい場合も

## フリートーク（その２）

<hr>

- メモリエラーを起こさずにデータを扱うにはどんな方法があるか

## pandasからApache Sparkへ
<hr>

- Apache Sparkを使えば，場合によってはpandasの100倍早く処理を行うことができる

# Apache Sparkについて

## Apache Sparkの概要
<hr>

- 並列分散処理を行えるデータ処理ツール
- 大規模データ分析を行う際に役立つ！

## Apache Spark + Python = ?
<hr>

- PythonでApache Sparkがもし使えたら...
- 学習しやすい，使いやすい！！
- もちろんJupyter Lab（Notebook）で使える！

# PySparkについて

## PySparkの概要
<hr>

- Sparkをpython上で実行するためのAPI
- python以外にも実はsparkにはたくさんのAPIがあり，たくさんの言語に対応している．

# PySparkでできること

## PySparkとPandasの互換性
<hr>

- pandasのDFとPySparkのDFは相互に変換することができる
- 実際のところは．pandasからPySparkの場合がほとんど
- 逆の場合はメモリエラーに注意，
- 以下のようにDFを変換することができる

In [13]:
from pyspark.sql import SparkSession

# pandasでつくったDFをSparkのDFへ変換
spark = SparkSession.builder.getOrCreate()
sdf = spark.createDataFrame(pdf)

sdf.show()

22/10/17 08:59:28 WARN Utils: Your hostname, TakatonoMacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.3.7 instead (on interface en0)
22/10/17 08:59:28 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/17 08:59:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

/Users/tueno/.pyenv/versions/3.10.6/envs/intro-pyspark/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/Users/tueno/.pyenv/versions/3.10.6/envs/intro-pyspark/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

+-------+-----+-----+
|student|class|score|
+-------+-----+-----+
|Larissa|    A|   50|
| Jaylan|    B|   69|
|  Golda|    A|   68|
| Myriam|    A|   70|
|Fabiola|    C|   82|
|Abigail|    C|   57|
|  Hardy|    B|   88|
| Jeromy|    C|   93|
+-------+-----+-----+

## 抽出
<hr>

- データからA組のテスト結果の点数と生徒の名前を抽出する
- PySparkを使って書いた場合このようになる

In [14]:
sdf.filter(sdf['class'] == 'A').select('student','score').show()

+-------+-----+
|student|score|
+-------+-----+
|Larissa|   50|
|  Golda|   68|
| Myriam|   70|
+-------+-----+

In [15]:
# dropを使って表示する列を指定するとき
sdf.filter(sdf['class'] == 'A').drop('class').show()

+-------+-----+
|student|score|
+-------+-----+
|Larissa|   50|
|  Golda|   68|
| Myriam|   70|
+-------+-----+

- pandasを使った場合とコードを比較する

pandas
```pandas
pdf.loc[pdf['class'] == 'A', ['student', 'score']]b
```
PySpark
```PySpark
sdf.filter(sdf['class'] == 'A').select('student','score').show()
```

pandasではメソッドで角かっこを使っていて紛らわしい気もする

## 複数の条件で抽出
<hr>

- 「C組のうち80点以上の生徒」で抽出する

In [16]:
sdf.filter((sdf['class'] == 'C') & (sdf['score'] >= 80)).show()

+-------+-----+-----+
|student|class|score|
+-------+-----+-----+
|Fabiola|    C|   82|
| Jeromy|    C|   93|
+-------+-----+-----+

pandas
```pandas
pdf.loc[(pdf['class'] == 'C') & (pdf['score'] >= 80)]
```
PySpark
```PySpark
sdf.filter((sdf['class'] == 'C') & (sdf['score'] >= 80)).show()
```

## 結合
<hr>

- PySparkのDF変換した際`index`の情報が抜け落ちるので`student_id`として再定義する

In [17]:
student = pd.DataFrame({
    'name': ['Larissa', 'Jaylan', 'Golda', 'Myriam', 'Fabiola', 'Abigail', 'Bernice', 'Hardy', 'Jeromy'],
    'class': list('ABAACCBBC'),
    'student_id': ['A1', 'B1', 'A2', 'A3', 'C1', 'C2', 'B2', 'B3', 'C4']
})

s_attendance = spark.createDataFrame(attendance)
s_student = spark.createDataFrame(student)

- `INNER JOIN`をPySparkにより実装すると以下のようになる

In [18]:
s_attendance.join(s_student, 'student_id', 'inner').show()

+----------+--------+-------+-----+
|student_id| subject|   name|class|
+----------+--------+-------+-----+
|        A1|    math|Larissa|    A|
|        A1|    math|Larissa|    A|
|        B1|    math| Jaylan|    B|
|        B2| History|Bernice|    B|
|        B3| History|  Hardy|    B|
|        C1|Japanese|Fabiola|    C|
|        C2| History|Abigail|    C|
|        C2|    math|Abigail|    C|
|        C4| English| Jeromy|    C|
+----------+--------+-------+-----+

- 続いて`LEFT JOIN`をやってみる
- `INNER JOIN`と同様に，`join`メソッドの引数で

In [19]:
# LEFTJOIN
sb_student = s_student.filter(s_student['class'] == 'B')
shistory_attendance = s_attendance.filter(s_attendance['subject'] == 'History')
# indexを使っていないため，結合の指定がしやすい（のかも）
sb_student.join(shistory_attendance, "student_id", "left").show()

+----------+-------+-----+-------+
|student_id|   name|class|subject|
+----------+-------+-----+-------+
|        B1| Jaylan|    B|   null|
|        B2|Bernice|    B|History|
|        B3|  Hardy|    B|History|
+----------+-------+-----+-------+

## 集約（GROUP BY）
<hr>

- まずはDFの変換をする

In [20]:
s_test_result = spark.createDataFrame(test_result)

- pandasの場合と同様に「クラスごと，教科ごとの平均点」を求めてみる

In [21]:
s_test_result.groupBy('class','subject').mean().show()

+-----+-------+------------------+
|class|subject|        avg(score)|
+-----+-------+------------------+
|    A|   math| 70.66666666666667|
|    A|English| 70.33333333333333|
|    B|   math|              63.0|
|    B|English|              70.0|
|    C|English|              67.0|
|    C|   math|50.666666666666664|
+-----+-------+------------------+

- 集約関数が複数存在する場合
- `agg()`メソッドを使って表現，計算のために`pyspark.sql.functions`ライブラリをインポートしている

In [22]:
import pyspark.sql.functions as F

s_test_result.groupBy('class','subject').agg(F.avg('score'), F.max('score')).show()

+-----+-------+------------------+----------+
|class|subject|        avg(score)|max(score)|
+-----+-------+------------------+----------+
|    A|   math| 70.66666666666667|        96|
|    A|English| 70.33333333333333|        74|
|    B|   math|              63.0|        85|
|    B|English|              70.0|        76|
|    C|English|              67.0|        77|
|    C|   math|50.666666666666664|        56|
+-----+-------+------------------+----------+

## SparkSQLについて
<hr>

- PySparkはPandasよりもSQLに近い形で書くことができて便利
- SQL文によって操作することもできる

- 先ほど行ったPySparkでの抽出をSQLで行う[8]

In [23]:
# SparkSQLで操作するテーブルを登録
sdf.createOrReplaceTempView('test_result')

# SQLによる操作
query = '''
SELECT student, score
        FROM test_result
        WHERE class == 'A'
'''

spark.sql(query).show()

+-------+-----+
|student|score|
+-------+-----+
|Larissa|   50|
|  Golda|   68|
| Myriam|   70|
+-------+-----+

SQLに習熟している人はPySparkのメソッドを覚えなくても良い気がする

# PandasとPysparkの比較

## 乱数によるデータセット作成
- 乱数によってデータを生成[9]する
- データサイズはおよそ8MB

In [59]:
np.random.seed(seed=42)
r_pdf = pd.DataFrame(np.random.rand(1000,1000))

#Byte単位でデータサイズを表示
r_pdf.memory_usage().sum()

8000128

In [66]:
from pyspark import SparkContext

sc = SparkContext.getOrCreate()

rand = np.random.rand(1000,1000)

rdd1 = sc.parallelize(rand)
rdd2 = rdd1.map(lambda x : [int(i) for i in x])
r_sdf = rdd2.toDF()

In [41]:
import time

start = time.perf_counter() 
for i in range(10):
    r_pdf.sort_values([i])

print(time.perf_counter() - start)
ptime = time.perf_counter() - start

0.020777375000761822

In [67]:
import time

start = time.perf_counter()

for i in range(10):
    r_sdf.sort(str(i))

print(time.perf_counter() - start)
stime = time.perf_counter() - start

22/10/17 09:27:21 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

AnalysisException: Column '`0`' does not exist. Did you mean one of the following? [_1, _10, _100, _101, _102, _103, _104, _105, _106, _107, _108, _109, _11, _12, _13, _14, _15, _16, _17, _18, _19, _2, _20, _200, _201, _202, _203, _204, _205, _206, _207, _208, _209, _21, _22, _23, _24, _25, _26, _27, _28, _29, _3, _30, _300, _301, _302, _303, _304, _305, _306, _307, _308, _309, _31, _32, _33, _34, _35, _36, _37, _38, _39, _4, _40, _400, _401, _402, _403, _404, _405, _406, _407, _408, _409, _41, _42, _43, _44, _45, _46, _47, _48, _49, _5, _50, _500, _501, _502, _503, _504, _505, _506, _507, _508, _509, _51, _52, _53, _54, _55, _56, _57, _58, _59, _6, _60, _600, _601, _602, _603, _604, _605, _606, _607, _608, _609, _61, _62, _63, _64, _65, _66, _67, _68, _69, _7, _70, _700, _701, _702, _703, _704, _705, _706, _707, _708, _709, _71, _72, _73, _74, _75, _76, _77, _78, _79, _8, _80, _800, _801, _802, _803, _804, _805, _806, _807, _808, _809, _81, _82, _83, _84, _85, _86, _87, _88, _89, _9, _90, _900, _901, _902, _903, _904, _905, _906, _907, _908, _909, _91, _92, _93, _94, _95, _96, _97, _98, _99, _1000, _110, _111, _112, _113, _114, _115, _116, _117, _118, _119, _120, _121, _122, _123, _124, _125, _126, _127, _128, _129, _130, _131, _132, _133, _134, _135, _136, _137, _138, _139, _140, _141, _142, _143, _144, _145, _146, _147, _148, _149, _150, _151, _152, _153, _154, _155, _156, _157, _158, _159, _160, _161, _162, _163, _164, _165, _166, _167, _168, _169, _170, _171, _172, _173, _174, _175, _176, _177, _178, _179, _180, _181, _182, _183, _184, _185, _186, _187, _188, _189, _190, _191, _192, _193, _194, _195, _196, _197, _198, _199, _210, _211, _212, _213, _214, _215, _216, _217, _218, _219, _220, _221, _222, _223, _224, _225, _226, _227, _228, _229, _230, _231, _232, _233, _234, _235, _236, _237, _238, _239, _240, _241, _242, _243, _244, _245, _246, _247, _248, _249, _250, _251, _252, _253, _254, _255, _256, _257, _258, _259, _260, _261, _262, _263, _264, _265, _266, _267, _268, _269, _270, _271, _272, _273, _274, _275, _276, _277, _278, _279, _280, _281, _282, _283, _284, _285, _286, _287, _288, _289, _290, _291, _292, _293, _294, _295, _296, _297, _298, _299, _310, _311, _312, _313, _314, _315, _316, _317, _318, _319, _320, _321, _322, _323, _324, _325, _326, _327, _328, _329, _330, _331, _332, _333, _334, _335, _336, _337, _338, _339, _340, _341, _342, _343, _344, _345, _346, _347, _348, _349, _350, _351, _352, _353, _354, _355, _356, _357, _358, _359, _360, _361, _362, _363, _364, _365, _366, _367, _368, _369, _370, _371, _372, _373, _374, _375, _376, _377, _378, _379, _380, _381, _382, _383, _384, _385, _386, _387, _388, _389, _390, _391, _392, _393, _394, _395, _396, _397, _398, _399, _410, _411, _412, _413, _414, _415, _416, _417, _418, _419, _420, _421, _422, _423, _424, _425, _426, _427, _428, _429, _430, _431, _432, _433, _434, _435, _436, _437, _438, _439, _440, _441, _442, _443, _444, _445, _446, _447, _448, _449, _450, _451, _452, _453, _454, _455, _456, _457, _458, _459, _460, _461, _462, _463, _464, _465, _466, _467, _468, _469, _470, _471, _472, _473, _474, _475, _476, _477, _478, _479, _480, _481, _482, _483, _484, _485, _486, _487, _488, _489, _490, _491, _492, _493, _494, _495, _496, _497, _498, _499, _510, _511, _512, _513, _514, _515, _516, _517, _518, _519, _520, _521, _522, _523, _524, _525, _526, _527, _528, _529, _530, _531, _532, _533, _534, _535, _536, _537, _538, _539, _540, _541, _542, _543, _544, _545, _546, _547, _548, _549, _550, _551, _552, _553, _554, _555, _556, _557, _558, _559, _560, _561, _562, _563, _564, _565, _566, _567, _568, _569, _570, _571, _572, _573, _574, _575, _576, _577, _578, _579, _580, _581, _582, _583, _584, _585, _586, _587, _588, _589, _590, _591, _592, _593, _594, _595, _596, _597, _598, _599, _610, _611, _612, _613, _614, _615, _616, _617, _618, _619, _620, _621, _622, _623, _624, _625, _626, _627, _628, _629, _630, _631, _632, _633, _634, _635, _636, _637, _638, _639, _640, _641, _642, _643, _644, _645, _646, _647, _648, _649, _650, _651, _652, _653, _654, _655, _656, _657, _658, _659, _660, _661, _662, _663, _664, _665, _666, _667, _668, _669, _670, _671, _672, _673, _674, _675, _676, _677, _678, _679, _680, _681, _682, _683, _684, _685, _686, _687, _688, _689, _690, _691, _692, _693, _694, _695, _696, _697, _698, _699, _710, _711, _712, _713, _714, _715, _716, _717, _718, _719, _720, _721, _722, _723, _724, _725, _726, _727, _728, _729, _730, _731, _732, _733, _734, _735, _736, _737, _738, _739, _740, _741, _742, _743, _744, _745, _746, _747, _748, _749, _750, _751, _752, _753, _754, _755, _756, _757, _758, _759, _760, _761, _762, _763, _764, _765, _766, _767, _768, _769, _770, _771, _772, _773, _774, _775, _776, _777, _778, _779, _780, _781, _782, _783, _784, _785, _786, _787, _788, _789, _790, _791, _792, _793, _794, _795, _796, _797, _798, _799, _810, _811, _812, _813, _814, _815, _816, _817, _818, _819, _820, _821, _822, _823, _824, _825, _826, _827, _828, _829, _830, _831, _832, _833, _834, _835, _836, _837, _838, _839, _840, _841, _842, _843, _844, _845, _846, _847, _848, _849, _850, _851, _852, _853, _854, _855, _856, _857, _858, _859, _860, _861, _862, _863, _864, _865, _866, _867, _868, _869, _870, _871, _872, _873, _874, _875, _876, _877, _878, _879, _880, _881, _882, _883, _884, _885, _886, _887, _888, _889, _890, _891, _892, _893, _894, _895, _896, _897, _898, _899, _910, _911, _912, _913, _914, _915, _916, _917, _918, _919, _920, _921, _922, _923, _924, _925, _926, _927, _928, _929, _930, _931, _932, _933, _934, _935, _936, _937, _938, _939, _940, _941, _942, _943, _944, _945, _946, _947, _948, _949, _950, _951, _952, _953, _954, _955, _956, _957, _958, _959, _960, _961, _962, _963, _964, _965, _966, _967, _968, _969, _970, _971, _972, _973, _974, _975, _976, _977, _978, _979, _980, _981, _982, _983, _984, _985, _986, _987, _988, _989, _990, _991, _992, _993, _994, _995, _996, _997, _998, _999];
'Sort ['0 ASC NULLS FIRST], true
+- LogicalRDD [_1#2191L, _2#2192L, _3#2193L, _4#2194L, _5#2195L, _6#2196L, _7#2197L, _8#2198L, _9#2199L, _10#2200L, _11#2201L, _12#2202L, _13#2203L, _14#2204L, _15#2205L, _16#2206L, _17#2207L, _18#2208L, _19#2209L, _20#2210L, _21#2211L, _22#2212L, _23#2213L, _24#2214L, ... 976 more fields], false

- PySparkとpandasそれぞれの場合について実行時間を比較すると

In [ ]:
print(ptime/stime)

## フリートーク（その3）
<hr>

質問  
このスライドに追記するかも

# 参考
<hr>

### スライド中の参考文献
[1] https://bookclub.kodansha.co.jp/product?item=0000275420  
[2] https://docs.python.org/ja/3/  
[3] https://pandas.pydata.org/docs/  
[4] https://pandas.pydata.org/docs/user_guide/10min.html  
[5] https://sparkbyexamples.com/pyspark/pandas-vs-pyspark-dataframe-with-examples/amp/  
[6] https://www.ohitori.fun/entry/basic-data-analysis-in-pandas  
[7] https://qiita.com/driller/items/ef8a16be03e146ce2183  
[8] https://blog.serverworks.co.jp/introducing-pyspark-6  
[9] https://qiita.com/yukifddd/items/5668483705ef9d89a0c9

### PySparkによるデータ前処理の例
- 言語処理
https://techblog.nhn-techorus.com/archives/7301
- テーブルデータ
https://www.ariseanalytics.com/activities/report/20211210/